---
import MainLayout from '../layouts/main.astro';
import Error from '../components/Error.astro';
import PostSummary from '../components/PostSummary.astro';

const { db } = Astro.locals;
const list = Astro.url.searchParams.get('list') || 'top';
const postType = Astro.url.searchParams.get('type') || 'post';
const page = parseInt(Astro.url.searchParams.get('page') || '1', 10);
const limit = 30;
const offset = (page - 1) * limit;

const { rows: stories } = await db.execute({
  sql: `SELECT
	s.*,
	u.username AS by,
	COUNT(c.id) AS descendants,
	(SELECT COALESCE(SUM(weight), 0) FROM story_votes WHERE story_id = s.id) AS score
FROM stories s
JOIN users u ON s.user_id = u.id
LEFT JOIN stories c ON s.id = c.parent_id
WHERE s.type = ?
GROUP BY s.id
ORDER BY ${list === 'top' ? 'score DESC,' : ''} created_at DESC
LIMIT ${limit} OFFSET ${offset}`,
  args: [postType],
});

  const { rows: [{ count: totalCount }] } = await db.execute({
    sql: `SELECT COUNT(*) AS count FROM stories WHERE type = ?`,
    args: [postType],
  });

const flashErrorVote = Astro.cookies.get('flash_error_vote')?.value;
const postTypeError = ['post', 'ask', 'show', 'job'].some(t => t === postType) ? null : 'Invalid post type.';
---
<MainLayout>
  {flashErrorVote && <Error>{flashErrorVote}</Error>}
  {postTypeError && <Error>{postTypeError}</Error>}
  <ol class="storiesTimeline">
    {stories.map(story => (
      <li class="storyItem">
        <PostSummary story={story as unknown as Story} />
      </li>
    ))}
  </ol>
  {offset + limit <= (totalCount as number) && (
    <div class="moreLink">
      <a href={`/?page=${page + 1}${list ? `&list=${list}` : ''}${postType ? `&type=${postType}` : ''}`}>More</a>
    </div>
  )}
</MainLayout>

<style>
  .storiesTimeline {
    margin: 0;
    padding-left: 40px;
    margin-bottom: 15px;
  }

  .storiesTimeline > li::marker {
    font-size: 15px;
  }

  .storiesTimeline > li:not(:last-child) {
    margin-bottom: 7px;
  }

  .moreLink {
    margin-left: 48px;
  }

  .moreLink > a {
    color: #828282;
    font-size: 15px;
  }
</style>
