---
import createStory from "../lib/createStory.mjs";

export interface Props {
  story: Story;
  showText?: boolean;
  showReplyBtn?: boolean;
  rootStoryID?: number|string;
  parentStoryID?: number|string;
  prevStoryID?: number|string;
  nextStoryID?: number|string;
}

const { story: storyData, showText = false, showReplyBtn = false, rootStoryID, parentStoryID, prevStoryID, nextStoryID } = Astro.props;
const story = createStory(storyData);
const currentPath = Astro.url.pathname;
---
<div class="postSummary" id={`post-${story.id}`}>
  <div class="postSummary__title">
    <a href={`/vote/up/${story.id}`} class="postSummary__voteLink"><img src="/triangle.svg" alt="Vote up" width="13" height="13"></a>
    {story.title ? (
      <div class="postSummary__titleWrapper">
        <a href={story.url ? story.url : `/items/${story.id}`} target={story.url ? '_blank' : '_self'}>
          <h3>{story.title}</h3>
        </a>
        {story.domain ? <a href={`/search?site=${story.domain}`} class="postSummary__domain">({story.domain})</a> : null}
      </div>
    ) : null}
  </div>
  <div class="postSummary__meta">
    {!Number.isNaN(story.score) ? <span>{story.score} {story.score === 1 ? 'point' : 'points'} by</span> : null}
    <a href={`/search?user=${story.by}`}>{story.by}</a>
    <a href={`/items/${story.id}`}>{story.time_ago} ago</a>
    {story.type !== 'comment' ? <span> | </span><a href="#">hide</a>: null}
    {
      story.descendants > 0
        ? <span> | </span><a href={`/items/${story.id}`}>{story.descendants} {story.descendants === 1 ? 'comment' : 'comments'}</a>
        : null
    }
    {rootStoryID ? <span> | </span><a href={`${currentPath}#post-${rootStoryID}`}>root</a> : null}
    {parentStoryID ? <span> | </span><a href={`${currentPath}#post-${parentStoryID}`}>parent</a> : null}
    {prevStoryID ? <span> | </span><a href={`${currentPath}#post-${prevStoryID}`}>prev</a> : null}
    {nextStoryID ? <span> | </span><a href={`${currentPath}#post-${nextStoryID}`}>next</a> : null}
  </div>
  {showText ? <div class="postSummary__text" set:html={story.text}></div> : null}
  {showReplyBtn ? <div class="postSummary__replyLink"><a href={`/reply/${story.id}`}>reply</a></div> : null}
</div>

<style>
  .postSummary {
    font-size: 12px;
  }

  .postSummary a {
    color: #828282;
  }

  .postSummary a:hover {
    text-decoration: underline;
  }

  .postSummary__title {
    display: flex;
  }

  .postSummary__title h3 {
    color: #000000;
    display: inline;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
  }

  .postSummary__titleWrapper {
    margin-left: 5px;
  }

  .postSummary__titleWrapper a:has(h3):hover {
    text-decoration: none;
  }

  .postSummary__domain {
    font-size: 11px;
  }

  .postSummary__meta, .postSummary__text, .postSummary__replyLink {
    padding-left: 18px;
  }

  .postSummary__title:not(:has(.postSummary__titleWrapper)) {
    display: inline-block;
  }

  .postSummary__title:not(:has(.postSummary__titleWrapper)) + .postSummary__meta {
    display: inline-block;
    padding-left: 0;
  }

  .postSummary__text {
    font-size: 13px;
    color: #828282;
  }

  .postSummary__replyLink > a {
    font-size: 10px;
    text-decoration: underline;
  }
</style>

