---
import { ViewTransitions } from 'astro:transitions';
import VotesRepository from '../repositories/Votes';

export interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
  contentType?: 'website' | 'article';
  headerTitle?: string;
  hideNavigation?: boolean;
  hideLogin?: boolean;
  userKarma?: number;
}

const { locals: { db }, cookies, props, url } = Astro;
const votesRepo = new VotesRepository(db);
const user = cookies.get('user')?.json();
const {
  title = 'Product Hacker News | Discuss with other people that also loves products',
  description = 'An enhanced clone clone of Hacker News, for Product Hackers.',
  keywords = ['hacker news', 'product', 'coding', 'design', 'forum', 'discussion'],
  contentType = 'website',
  headerTitle,
  hideNavigation,
  hideLogin
} = props;

const userKarma = props.userKarma ?? (user ? await votesRepo.getUserKarma(user.id) : 0);
---
<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={description}>
    <meta name="keywords" content={keywords.join(', ')}>
    <meta property="og:title" content={title}>
    <meta property="og:type" content={contentType}>
    <meta property="og:url" content={url.href}>
    <meta property="og:descrition" content={description}>
    <meta property="og:image" content="/phn.png">
    <link rel="icon" href="/phn.png">
    <ViewTransitions />
    <script type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": url.href,
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": url.protocol + '//' + url.host + "/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    })}></script>
    <slot name="head" />
  </head>
  <body>
    <header class:list={['mainHeader', { mainHeader__hiddenNavigation: hideNavigation, mainHeader__hiddenLogin: hideLogin }]}>
      <a href="/" class="brandImg">
        <img src="/phn.png" alt="Product Hacker News" />
      </a>
      <div class="navWrapper">
        {headerTitle ? (
          <div class="brandTitle">
            <h2>{headerTitle}</h2>
          </div>
        ) : (
          <a href="/" class="brandTitle">
            <h2>Product Hacker News</h2>
          </a>
        )}
        {!hideNavigation ? (
          <nav>
            <ul>
              <li><a href="/?list=newest">new</a></li>
              <li><a href="/comments">comments</a></li>
              <li><a href="/?type=ask">ask</a></li>
              <li><a href="/?type=show">show</a></li>
              <li><a href="/?type=job">jobs</a></li>
              {user ? <li><a href="/submit">submit</a></li> : null}
            </ul>
          </nav>
        ) : null}
      </div>
      {!hideLogin && !user ? (
        <div class="loginWrapper">
          <a href="/login">login</a>
        </div>
      ) : (user ? (
        <div class="logoutWrapper">
          <a href="/users/me">{user.username}</a> ({userKarma || 0}) |
          <a href="/auth/destroy" data-astro-prefetch="false">logout</a>
        </div>
      ) : null)}
    </header>
    <main>
      <slot />
    </main>
    <footer class="mainFooter">
      <div>
        <nav>
          <ul>
            <li><a href="https://www.sbcschool.com.br/">SBC Home</a></li>
            <li><a href="https://www.sbcschool.com.br/technical-product-manager">About TPM Course</a></li>
            <li><a href="https://github.com/m4n3z40/prd-hacker-news">Github</a></li>
            <li><a href="https://www.sbcschool.com.br/privacy">Privacy Terms</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=5561999798448">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="searchWrapper">
        <form action="/search" method="get">
          <label for="mainSearch">Search:</label>
          <input type="search" id="mainSearch" name="q" />
        </form>
      </div>
    </footer>
  </body>
</html>
<style>
  :global(@font-face) {
    font-family: GeistSans;
    src: url('/GeistVF.woff2') format('woff2'),
         url('/GeistVF.woff') format('woff'),
         url('/GeistVF.ttf') format('truetype');
    font-display: swap;
    font-weight: 100 900;
  }
  :global(html), :global(body) {
    font-family: GeistSans, Geneva, sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0;
  }

  :global(a) {
    color: #000000;
    text-decoration: none;
  }

  :global(a:hover) {
    text-decoration: underline;
  }

  .mainHeader {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: rgb(228, 228, 231) 1px solid;
  }

  .brandImg > img {
    border: 1px solid #000000;
    width: 18px;
    height: 18px;
    padding: 2px;
    line-height: 0;
    display: block;
  }

  .navWrapper {
    margin: 3px 9px;
  }

  .brandTitle > h2 {
    color: #000000;
    font-size: 15px;
    line-height: 16px;
    margin: 0;
  }

  .navWrapper > nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .navWrapper > nav > ul > li:not(:last-child)::after {
    content: "|";
    margin: 0 4px;
    color: #000000;
    font-size: 14px;
  }

  .navWrapper > nav a {
    font-size: 14px;
  }

  .loginWrapper, .logoutWrapper {
    font-size: 14px;
    color: #000000;
    margin-left: auto;
    margin-right: 10px;
    white-space: nowrap;
  }

  main, .mainFooter {
    background-color: rgb(243, 244, 246);
  }

  main {
    padding: 12px 0;
    min-height: calc(100vh - 152px);
  }

  .mainHeader.mainHeader__hiddenNavigation + main {
    min-height: calc(100vh - 136px);
  }

  .mainFooter {
    background: #ffffff;
    border-top: 2px solid rgb(229, 231, 235);
    padding: 16px;
  }

  .mainFooter nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainFooter nav li:not(:last-child)::after {
    content: "|";
    margin: 0 4px;
    color: #000000;
    font-size: 14px;
  }

  .mainFooter nav a {
    font-size: 14px;
  }

  .searchWrapper {
    margin-top: 14px;
    text-align: center;
  }

  .searchWrapper input[type="search"] {
    font-size: 16px;
    padding: 1px 2px;
    width: 90%;
  }

  @media (min-width: 768px) {
    main {
      min-height: calc(100vh - 162px);
    }

    .mainHeader.mainHeader__hiddenNavigation + main {
      min-height: calc(100vh - 162px);
    }

    .mainHeader {
      margin-top: 10px;
    }

    .mainFooter {
      margin-bottom: 10px;
    }

    .navWrapper {
      display: flex;
      align-items: center;
    }

    .navWrapper > nav {
      margin-left: 5px;
    }
  }
</style>
