---
import MainLayout from '../../layouts/main.astro';
import UsersRepository from '../../repositories/Users';

const { params, locals } = Astro;
const usersRepo = new UsersRepository(locals.baseApiUrl);
const user = await usersRepo.getByUsername(params.username);
---
<MainLayout
  title={`Product Hacker News | ${user.username}'s Profile`}
  hideLogin
>
  <section>
    <h1>{user.username}'s Profile</h1>
    <p>Username: {user.username}</p>
    <p>Created: {user.created_at}</p>
    <p>Karma: {user.karma}</p>
    <p><a href={`/search?user=${user.username}`}>{user.username}'s Submissions</a></p>
  </section>
</MainLayout>

<style>
  section {
    margin: 0 auto;
    max-width: 350px;
  }
</style>

